* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
}
/*css reset*/

body {
    background-color: #ADC8D9;
    font-family: 'Roboto', sans-serif;
}


/*h1 {
    font-family: 'HezaedrusRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;
 } */

#textbox {
    position: relative;
    width: 100%;
    height: 100px;
}

.alignleft {
    margin-top: 40px;
    margin-left: 70px;
	float: left;
    text-decoration: underline;
}
.alignright {
    margin-right: 70px;
    margin-top: 40px;
	float: right;
    
}

#textbox1 {
    height: 400px;
    float: right;
    margin-top: 60px;
    
}

/*#textbox1.alignright1 {
    margin-right: 70px;
    margin-top: 150p;
}*/

#textbox1 h1 {
    font-size: 100px;
    text-align: right;
    margin-right: 70px;
    
}

#textbox2 {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 500px;
    
}

.alignleft2 {
    position: absolute;
    font-size: 55px;
    margin-left: 70px;
    
}

.alignright2 {
    position: absolute;
    width: 100%;
    
}

.alignright2 .table {
    float: right;
    margin-right: 70px;
    
}
.alignright2 .table td {
    text-align: left;
    padding: 10px;
}  

.image1 {
    position: relative;
    float: right;
}

.image1 img {
    margin-right: 70px;
}

.images {
    position: relative;
    float: right;
    width: 100%;
    margin-top: 15px;
    
}
.images img {
    position: absolute;
    margin-left: 70px;
    float: right;

}
.images .image3 img {
    position: absolute;
    margin-right: 100px;
    top: 0;
	right: 0%;
    width: 500px;
    object-fit: contain;
}